[Unit]
Description=Run Scorex backup every 2 hours

[Timer]
OnCalendar=*-*-* 00/2:00:00
Persistent=true
RandomizedDelaySec=60

[Install]
WantedBy=timers.target
